.new-sentence {
  font-size: 25px;
  font-style: italic;
  font-weight: bolder;
  color: green;
  margin-top: 10px;
  margin-bottom: 20px;
}

h4 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

#submit {
  margin-top: 30px;
}
